#grid {
  display: grid;
  margin: auto;
  width: 960px;
  height: 960px;
  border: 1px solid black;
  margin-top: -390px;
}
h1 {
  text-align: center;
}
.grid-element {
  background-color: #ffffff;
  border: 1px solid black;
  transition: background-color 0.3s ease-in-out;
}
/* control panel styling */
#controls {
  display: block;
  /* justify-content: space-between; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
}

.button {
  display: block;
  margin-top: 20px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: bisque;
}

.button.active {
  background-color: bisque;
}

#colorPicker {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
